<% if flash[:notice] %>
<p> <%= flash[:notice]%></p>
<% end %>
<h2 class="form-signin-heading">Sign up</h2> 
<div class="form-group">
  <%= form_for(@user, role: "form", url: sign_up_path) do |f| %>

   <div class="control-label"> <%= f.label :username %></div>
   <div class="form-control"><%= f.text_field :username %> 

   <div class="control-label"> <%= f.label :password %></div>
    <div class="form-control"<%= f.password_field :password %></div>  

    <div class="form-control"> <%= f.submit "Submit" %> </div> 
  <% end %>
 </div>

