<% if flash[:notice] %>
<p> <%= flash[:notice]%></p>
<% end %>

<%= form_for(@user, url: sign_up_path) do |f| %>
  
   <div> <%= f.label :email %>  
  <%= f.email_field :email %> </div> 
  
  <div> <%= f.label :password %>
  <%= f.password_field :password %></div> 
  

  <%= f.submit "Submit" %>
 <% end %>